header.navbar {
  min-height: 0;
  padding: 0;
  border-radius: 0;
  border: none;
  display: none;
  .navbar-header {
    float: right;
  }
  #block-headermenu {
    float: left;
  }
  #block-header {
    float: right;
    @media (max-width: $screen-xs) {
      display: none;
    }
  }
  #block-idtheadermenublock {
    @media (max-width: $screen-xs) {
      width: 100%;
      text-align: left;
      display: inline-block;
    }
  }
  .menu--header-menu {
    margin: 0;
    padding-left: 0;
    @media (max-width: $screen-xs) {
      display: inline-block;
    }
    li {
      display: inline-block;

      a {
        text-transform: uppercase;
        font-size: 13px;
        position: relative;
        display: block;
        padding: 10px 15px;
        svg {
          margin-right: 4px;
        }
        &:hover {
          background: none;
          color: rgba(255, 255, 255, 0.5);
        }
      }
    }
  }
}
.region-header {
  margin: 0;

  .logo {
    display: inline-block;
    margin-top: 3px;
    margin-left: 5px;
    @media (max-width: $screen-sm) {
      text-align: left;
    }
    img {
      max-width: 150px;
    }
  }
}

.region-navigation-collapsible {
  width: 100%;
  display: inline-block;
  .block-dropdown-language {
    margin-bottom: 20px;
    float: right;
    @media (min-width: $screen-sm + 1) {
      display: none;
    }
  }
  ul.menu {
    li {
      a {
        @media (min-width: $screen-sm) {
          &:hover {
            //color: $brand-info;
          }
        }
      }
    }
  }
}

.mobile-menu {
  text-align: center;

  @media (max-width: $screen-sm) {
    position: relative;
    .navbar-toggle {
      position: absolute;
      bottom: 0px;
      right: -5px;
    }
  }
  @media (max-width: $screen-xs) {
    .navbar-toggle {
      bottom: -4px;
    }
  }
  .navbar-toggle {
    float: none;
    margin: 0;
    margin-top: 20px;
    .menu-text {
      margin-right: 5px;
      position: relative;
      bottom: 1px;
      font-style: italic;
    }
    div {
      display: inline-block;
      font-weight: bold;
    }

    .icon-bar {
      background: $brand-primary;
    }
  }
}
@media (min-width: $screen-sm) {
  .navbar-nav {
    float: right;
    li {
      a {
        padding: 10px 20px;
      }
    }
  }
}

@media (min-width: $screen-sm) {
  .navbar-collapse.collapse {
    margin-top: 0px;
    margin-bottom: 5px;
    height: 42px !important;
  }
}
@media (max-width: $screen-xs-max) {

}
.navbar-collapse.in {
  overflow-y: visible;
}
@media (max-width: $screen-xs-max) {
  .navbar-collapse {
    ul.menu {
      margin-top: 10px;
      li {
        display: inline-block;
        width: 100%;
        a {
          text-align: left;
          line-height: 21px;
          font-weight: 300;
          padding: 10px 5px;
          text-transform: uppercase;
          border-bottom: 1px solid #e6e6e6;
          position: relative;
          &:after {
            content: '';
            width: 30px;
            height: 30px;
            right: 0;
            bottom: 5px;
            margin: 0 auto;
            background-size: cover;
            display: inline-block;
            position: absolute;
            background: url(../images/arrow-blue.svg) center center no-repeat, linear-gradient(transparent, transparent);
          }
        }
        &:last-child a {
          border: none;
        }
      }
    }
  }
}
.heading {
  display: flex;
}
.isula-header {
  background: white;
  padding-top: 10px;
  display: inline-block;
  width: 100%;
  box-shadow: 1px 4px 8px 0px #e8e8e8;
}
.pre-header {
  display: block;
  width: 100%;
  background: #163a6b;
  padding: 6px 0;
  color: white;
  font-size: 15px;
  section {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
  section.language-switcher-language-url {
    @include make-xs-column(8);
    @include make-sm-column(4);
    @media (max-width: $screen-xs) {
      padding-right: 0 !important;
      padding-left: 0 !important;
      font-size: 12px;
      margin-top: 2px;
    }
  }
  section.block-isula-header-help-block {
    @include make-xs-column(4);
    @include make-sm-column(8);
  }
  .region-pre-header {
    display: table;
    width: 100%;
    section {
      @include make-md-column(4);
    }
  }
  .block-isula-header-help-block,
  .block-isula-trustpilot-widget {
    position: relative;
    top: 3px;
    @media (max-width: $screen-xs) {
      font-size: 13px;
      text-align: left;
    }
  }
  .block-isula-trustpilot-widget  {
    @media (max-width: $screen-sm) {
      display: none;
    }
  }
  .language-switcher-language-url  {
    @include make-xs-column(5);
    .links {
      padding: 0;
      margin: 0;
      list-style: none;
      float: right;
      li {
        display: inline-block;
        float: left;
        text-transform: uppercase;
        margin: 0 10px;
        a {
          display: inline-block;
          float: left;
          text-decoration: none;
          &.is-active {
            text-decoration: underline;
          }
        }
        img {
          display: inline-block;
          float: left;
          margin-right: 7px;
          margin-top: 7px;
          @media (max-width: $screen-xs) {
            margin-top: 4px;
          }
        }
        &.en img {
          @media (max-width: $screen-xs) {
            margin-top: 6px;
          }
        }
      }
    }
    @media (max-width: $screen-xs) {
      .links {
        li {
          margin: 0 5px;
        }
      }
    }
  }
  a {
    color: #fff;
    text-decoration: underline;
    &:hover {
      opacity: .9;
    }
  }
}


.sticky {
  position: fixed;
  top: 0;
  width: calc(100% - 30px);
  z-index: 30;
  background: #fff;
  box-shadow: 0px 1px 12px 1px #a2a2a27a;
  .navbar-collapse.collapse {
    margin-top: 5px;
    &.in {
      border-bottom: 1px solid #ececec;
      padding-bottom: 16px;
    }
  }
}

body.toolbar-horizontal .sticky {
  top: 39px;
}
body.toolbar-horizontal.toolbar-tray-open .sticky {
  top: 78px;
}


.user-saved-properties {
  float: right;
  margin-left: 10px;
  margin-right: 10px;
  position: relative;
  &.filled svg {
    color: red;
  }
  a {
    text-decoration: none;
    position: relative;
    top: 1px;
    &:hover {
      color: red;
    }
  }
  svg {
    margin-right: 5px;
    position: relative;
    top: 2px;
    left: -2px;
  }
  @media (max-width: $screen-xs) {
    .text {
      display: none;
    }
    svg {
      font-size: 15px;
    }
  }
  .items {
    border-radius: 50%;
    background: #fff;
    width: 18px;
    color: $brand-primary;
    height: 18px;
    display: inline-block;
    margin-left: 10px;
    text-align: center;
    font-size: 12px;
    top: 1px;
    position: relative;
    @media (max-width: $screen-xs) {
      margin-left: 3px;
    }
  }
}
