.page-node-type-review {
  .block-region-main-left,
  .container {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .title {
    font-size: 18px;
    font-weight: 500;
  }
  .field--name-field-rating {
    display: inline-block;
    width: 100%;
  }
}
