/*-----------------------------------*/
/***** Custom Images hovereffect *****/
/*-----------------------------------*/

.hovereffect {
  overflow: hidden;
  position: relative;
  &:before {
    transition: all .4s;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    display: inline-block;
    z-index: 1;
    pointer-events: none;
  }
  img {
    -webkit-transition: all .7s;
    transition: all .7s;
     -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .7s ease-in-out;
    transition: .7s ease-in-out;
    margin: 0 auto;
  }

  &:hover {
    &:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background: #153a6bb0;
      display: inline-block;
      z-index: 1;
      pointer-events: none;
    }
    img {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }
  }
}
